.page-title {
    font: 36px "Lato";
    font-weight: Bold;
    color: #427171;
    margin-top: 80px;
    line-height: 40px;
    max-inline-size: 672px;
}

.title-subheading {
    line-height: 20px;
    margin-top: 24px;
    max-inline-size: 672px;
    margin-bottom: 0px;
}