.tile-container-github-repos {
    display: flex;
    margin-top: 32px;
}

@media screen and (max-width: 877px) {
    .tile-container-github-repos {
        display: block;
    }

    .tile-container-github-repos > .interactive-tile {
        margin-bottom: 16px;
    }

    .tile-container-github-repos > .interactive-tile:last-of-type {
        margin-bottom: 0px;
    }
}
