.page-title-performance {
    font: 36px "Lato";
    font-weight: Bold;
    color: #427171;
    line-height: 40px;
    max-inline-size: 672px;
}

.performance-title-container {
    display: inline-flex;
    margin-top: 80px;
    justify-content: space-between;
    width: 649px;
    max-inline-size: 672px;
}

@media screen and (max-width: 700px) {
    .performance-title-container {
        display: block;
    }

    .caliper-image {
        margin-top: 16px;
    }
}


.title-subheading-performance {
    line-height: 20px;
    margin-top: 24px;
    max-inline-size: 672px;
}

.caliper-image {
    width: 140px;
    
}